<h1>Applications Management Database</h1>

<p>Applications Management Data Base is an application to get control of your applications, where are installed, where you bought them or download them.</p>

<ul>
	<li><%= link_to "My Applications", apps_path %></li>
</ul>